/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 98%, 49%);
  --clr-primary-2: hsl(0, 98%, 39%);
  --clr-primary-3: hsl(0, 98%, 29%);

  /* lighter shades of primary color */
  --clr-primary-4: hsl(205, 90%, 60%);
  --clr-primary-5: hsl(205, 92%, 72%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.navbar {
  background-color: #fff;
  box-shadow: 0 0 4px -2px var(--clr-grey-3);
}

.fixed-container {
  max-width: var(--max-width);
  width: 95%;
  margin: auto;
}

.navbar-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: var(--max-width);
  margin: auto;
  padding: 0.35rem;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo span {
  font-size: 1.5rem;
  font-weight: 700;
}
.logo img {
  width: 50px;
  height: 50px;
}

.navbar ul {
  display: none;
  gap: max(3rem, 4vw);
}
.navbar li {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar .fa-icons {
  margin-right: 0.3rem;
}
.navbar li:after {
  content: "";
  position: absolute;
  background-color: var(--clr-primary-1);
  height: 3px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  transition: width 0.1s linear;
}
.navbar li:hover {
  color: var(--clr-primary-1);
}

.navbar li:hover:after {
  width: 100%;
}

.fa-bars {
  display: block;
}
@media screen and (min-width: 600px) {
  .navbar ul {
    display: flex;
  }

  .fa-bars {
    display: none;
  }
}

/* ------------------main------------------------ */
main {
  padding-bottom: 5rem;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* background-color: green; */
}
.form-logo img {
  max-width: 300px;
  height: 100px;
}

.form-title {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.015rem;
}

.form-description {
  color: var(--clr-grey-7);
  font-size: 0.85rem;
  letter-spacing: initial;
}

.form-control {
  width: 100%;
}
::-webkit-input-placeholder {
  text-align: center;
  color: var(--clr-grey-8);
}
.form-control input {
  padding: 0.3em 1em;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  outline: transparent;
  background-color: transparent;
  width: 80%;
  max-width: 400px;
  display: block;
  margin: 0 auto;

  border-bottom: 1px solid grey;
}
@media screen and (min-width: 800px) {
  .search-form img {
    height: 150px;
  }

  .form-title {
    font-size: 2.5rem;
    /* letter-spacing: -0.02rem; */
  }
  .form-description {
    font-size: 1.5rem;
  }

  .form-control input {
    font-size: 1.3rem;
  }
}

/* ---------------------country list----------------------- */
.countries-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 1rem;

  grid-gap: 2rem 1rem;
  align-items: center;
  justify-items: center;
}

.country-img-container {
  position: relative;
  overflow: hidden;
}

.country-img-container img {
  width: 100%;
}
.icon__overlay {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 60%;
  z-index: 2;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.fa-loves {
  color: white;
  font-size: 15px;
}

.country-name {
  text-align: center;
  font-weight: 700;
}
.hover-active,
.selected {
  transition: all 0.085s linear;
}

.country-img-container:hover {
  cursor: pointer;
}

.icon__overlay-active {
  display: flex;
  opacity: 1;
  animation: rotateIcon 0.2s linear;
}

@keyframes rotateIcon {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
/* To remove hover state appear in mobile mode */
@media (hover: hover) {
  .country-img-container:hover .icon__overlay {
    display: flex;
    opacity: 1;
  }

  .country-img-container:hover .hover-active {
    outline: 5px solid transparent;
    outline-offset: -5px;
    border-radius: 25px;
    /* border-radius: 20px; */
  }
}
.selected {
  outline: 8px solid var(--clr-primary-1);
  outline-offset: -8px;
  border-radius: 25px;
}
@media screen and (min-width: 800px) {
  .countries-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .selected {
    outline: 10px solid var(--clr-primary-1);
    outline-offset: -10px;
  }

  .fa-loves {
    color: white;
    font-size: 20px;
  }
  .icon__overlay {
    height: 50px;
    width: 50px;
  }
}

/* ---------------------country list----------------------- */

/*--------------------- footer----------------------------- */

footer {
  background-color: #fff;
  box-shadow: 0 0 5px -2px var(--clr-grey-3);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.65em 0;
  z-index: 2;
  /* height: 2rem; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.btn-cont {
  border: none;
  background-color: var(--clr-grey-9);
  color: var(--clr-grey-5);
  cursor: not-allowed;
  padding: 1em 3em;
  font-size: 0.85rem;
  font-family: inherit;
  border-radius: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 0.85rem;
  transition: var(--transition);
}

.btn-cont .fa-arrow {
  color: white;
  font-size: 20px;
}

.btn-active {
  cursor: pointer;
  background-color: var(--clr-primary-7);
  color: var(--clr-grey-1);
}

.btn-active:hover {
  background-color: var(--clr-primary-4);
  color: var(--clr-grey-9);
}

@media screen and (min-width: 800px) {
  .btn-cont .fa-arrow {
    color: white;
    font-size: 25px;
  }

  .btn-cont {
    font-size: 1rem;
  }
}

/*--------------------- footer----------------------------- */

/* /-------------------thank you page--------------------------- */
.appreciation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appreciation-msg1 {
  font-size: 0.85rem;
  margin-bottom: 0.67rem;
}
.appreciation-msg2 {
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  font-weight: bold;
  letter-spacing: -0.075rem;
  margin-bottom: 0.85rem;
}

@media screen and (min-width: 600px) {
  .appreciation-msg1 {
    font-size: 1.25rem;
  }

  .appreciation-msg2 {
    font-size: 2rem;
  }
}
/* /-------------------thank you page--------------------------- */
